<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <form action="result">
        <label for="num1">NUMBER1</label>
        <input type="number" name="num1">
        <label for="num2">NUMBER2</label>
        <input type="number" name="num2" >
        <input type="submit" name="op" value="plus">
        <input type="submit" name="op" value="sub">
        <input type="submit" name="op" value="mul">
        <input type="submit" name="op" value="div">
    </form>
</body>
</html>